
body {
    margin: 0;
    padding: 0;
    font-family:Candara;  

}
.none{   
    list-style-type: none;        
}

#header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

#logo {
    max-width: 90px; /* aqui eu ajusto o tamnaho da imagem */
}

#page1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.dds{
    text-align: center;
}
.recipe {
    text-align: center;
    margin: 10px;
}

.recipe img {
    max-width: 400px; 
}

#map {
    background-color: rgb(183, 183, 187);
    text-align: center;
    padding: 20px;
}
.img-conteiner{
    display: flex;
    justify-content: flex-end;

}
.img{
    width: 200px;
    height: 200px;
}