*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
}

#total{
    margin: auto;
    width: 1300px;
}

#topo{
    height: 150px;
    background-color: black;
    padding-top: 10px;
}

#banner{
    height: 400px;
    background-color: black;
}

#conteudo{
    height: 600px;
    padding-top: 10px;
}

#mapa{
    height: 300px;
}

#rodape{
    height: 200px;
    background-color: black;
}

#logo{
    height: 130px;
    width: 200px;
}

.margem{
    margin-left: 10px;
    float: left;
}

#redes{
    height: 130px;
    width: 200px;
    background-color: red;
}

.conteudo2{
    height: 580px;
    width: 420px;
    float: left;
    background-color:  red;
}

#redesroda{
    height: 180;
    width: 420px;
    background-color:  red;
}

#endereço{
    height: 160px;
    width: 400px;
    background-color: red;
    padding-top: 10px;
}

